body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;

  font-family: 'NanumBarunGothicExtraLight';
  font-family: 'NanumBarunGothicLight';
  font-family: 'NanumBarunGothic';
  font-family: 'NanumBarunGothicBold';
}

input,
button {
  font-family: 'NanumBarunGothic';
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}